* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

body {
    background: url(got9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}

#header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    display: flex;

}

#header .logo {
    color: red;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;

}

#header ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

#header ul li {
    list-style: none;
    margin-left: 20px;
    font-size: 14px;

}

#header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: ghostwhite;
    border-radius: 2px;


}

#header ul li a:hover {
    background: linear-gradient(45deg, red, rgb(245, 14, 122));
    color: rgb(253, 252, 252);

}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.content {
    position: absolute;
    left: 2px;
    top: 625px;
}

section .content .details span {
    position: relative;
    top: 50px;
    right: 450px;
    color: ghostwhite;
    margin: 12px;
    font-weight: 400;
}

.details span:last-child {
    border: 1px solid rgb(182, 181, 181);
    padding-top: 4px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    border-radius: 2px;
    font-size: 12px;

}

.button span {
    position: relative;
    top: 100px;
    right: 450px;
    color: white;
    margin: 10px;
    font-weight: 500;

}

.button .btn1 {
    background: red;
    padding: 14px 26px;
    border-radius: 2px;
    transition: 0.5s;

}

.button .btn1:hover {
    opacity: 0.8;
    cursor: pointer;

}

.button .btn2 {
    background: #ffffff2e;
    padding: 14px 26px;
    border-radius: 2px;
    transition: 0.5s;
}


.button .btn2:hover {
    background: #fff;
    color: red;
    font-weight: 600;
    cursor: pointer;

}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 330px;
    background: linear-gradient(to top, #0c181c, transparent);
    z-index: -1;
    overflow: hidden;
}

.sec {
    position: relative;
    top: 0;
    height: 500px;
    padding-left: 110px;
    background-color: #02161c;

}

.sec span {
    position: relative;
    margin-bottom: 10px;
    color: #fff;
    margin: 7px;

}

.sec .title {
    font-size: 20px;
    font-weight: 600;
}

.sec .btn3 {
    font-size: 12px;
    text-decoration: underline;

}

.info {
    position: absolute;
    top: -130px;
}

.sec .row {
    position: absolute;
    top: -88px;
    height: 200px;
    width: 82%;

}

.sec .row .col img {
    width: 230px;
    height: 213px;
    float: left;
    justify-content: center;
    align-items: center;
    margin-left: 55px;
}

.sec .row .col:first-child {
    margin: 0px;
    margin-left: 5px;

}

.sec .row .col img {
    transition: 0.5s;

}

.sec .row .col img:hover {
    transform: scale(1.1);
    cursor: pointer;

}

.sec .row2 {
    position: absolute;
    top: 160px;

    height: 200px;
    width: 82%;

}

.sec .row2 .col1 {
    width: 810px;
    float: left;
    margin-right: 70px;
}

.sec .row2 .col2 {
    overflow: hidden;

}

.sec .row2 .col p {
    color: #a9a9a9;
    line-height: 24px;

}

.sec .row2 .col h2 {
    color: #fff;
    margin-bottom: 18px;
    font-size: 20px;
}

.sec .row2 .col2 p{
text-decoration: underline;
}

.sec .row2 .col p{
    font-size: 14px;

}